.header{
    color:#FF8856;
    font-weight:bold;
    font-size:25px;
}

.inf {
    width:50%;
    float:left;
}

.image {
    height:300px;
    width:300px;
    object-fit:cover;
    margin:0 auto;
   
}

.user {
    font-size:15px;
    padding-bottom:3px;
    padding-top:3px;
    text-align: center;
}

.btn {
    color:white;
    margin:5px 180px;
    background-color:#FF6666;
    box-shadow: 0 5px #993366;
    opacity:0.8;
    text-align: center;
    border-radius:10px;
}

.btn:hover {
    opacity:1;
}

.btn:active {
    box-shadow:none;
    position:relative;
    top:5px;
}

@media(max-width:1000px){
    .btn {
        margin:5px 100px;
    }
}
 