.header{
    color:#FF8856;
    font-weight:bold;
    font-size:25px;
}

.message h1{
    font-weight: bold;
}

.back {
     color:#0000FF;
}

.over {
    background-image: url(https://res.cloudinary.com/dkqyurf1r/image/upload/v1699491954/lcogwwtwheyd3uvglbwz.jpg);
    height:1000px;
   object-fit: cover;
}

.home {
      background-color:rgba(210, 153, 194, 0.51);
}

