.header{
    color:#FF8856;
    font-weight:bold;
    font-size:25px;
}

.chat h1 {
    font-weight: bold;
}

.back {
     color:#0000FF;
}

chatroom
.home {
    background-image: linear-gradient(90deg, rgba(168, 202, 240, 1), rgba(233, 240, 250, 1));
}