.header{
    color:#FF8856;
    font-weight:bold;
    font-size:25px;
}

.body {
    height:900px;
    background-color:#D9E5FF; 
}

.matching {
    text-align: center;
    color:#f7f7f7;
    padding:4px 24px;
    background-color:#FF367F;
}

.inf {
    margin-top:60px;
    width:25%;
    float:left;
}

.image {
    height:300px;
    width:300px;
    object-fit:cover;
    
}

.user {
    font-weight:bold;
    color:#FF8856;
}

.user h1 {
    font-size:20px;
    padding:2px 0 0 20px;
    float:left;
    margin-bottom:15px;
} 

.user p {
    font-size:13px;
    padding:8px 0 0 10px;
    float: left;
}