.header{
    color:#FF8856;
    font-weight:bold;
    font-size:25px;
}

.body {
    height:900px;
    /*background-image: linear-gradient(159deg, rgba(243, 170, 196, 1), rgba(246, 190, 232, 1) 33%, rgba(255, 247, 216, 1) 76%);*/
}

.matching {
    text-align: center;
    color:#f7f7f7;
    padding:4px 24px;
    background-color:#FF367F;
}

.inf {
    margin-top:60px;
    width:25%;
    float:left;
}

.image {
    height:300px;
    width:300px;
    object-fit:cover;
    
}

.user {
    font-weight:bold;
    color:#FF8856;
}

.user h1 {
    font-size:20px;
    padding:2px 0 0 20px;
    float:left;
    margin-bottom:15px;
} 

.user p {
    font-size:13px;
    padding:8px 0 0 10px;
    float: left;
}

@media(max-width:1000px){
    .body{
        height:1100px
    }
    
    .inf {
        width:50%;
    }
    
    .image {
        margin-left:10px;
    }
}

@media(max-width:670px){
    .body {
        height:1100px;
    }
    
   .image {
    height:200px;
    width:200px;
    object-fit:cover;
    border-radius:50px;
    margin-left:25px;
    }
    
     .user h1{
        padding-left:64px;
    }
}