.index:hover {
    color:#FFABCE;
}

.match:hover {
    color:#FFABCE;
}

.chat:hover {
    color:#FFABCE;
}

.edit:hover {
    color:#FFABCE;
}

@media(max-width:400px){
    .index {
       font-size:16px;
       margin-right:20px; 
    }
    
    .match {
        margin-right:20px; 
    }
    
    .chat {
        margin-right:20px; 
    }
    
    .edit {
        margin-right:20px;
    }

   
    
}